# General Settings
uportal.protocol=http
uportal.domain=localhost
uportal.port=8080
uportal.context=uPortal

# Load Settings

# Consider having the `load.num.of.threads` be equal to the number of test users
load.num.of.threads=10

# In seconds
load.ramp.up=10

# -1 = endless
load.loop.count=25

# Setting constant=1000 and deviation=3000 allows a 1 - 4 sec 'think time'
# delay between each call
delay.think.time.constant.ms=1000
delay.think.time.deviation.ms=3000
# Setting constant=10000 and deviation=30000 allows a 10 - 40 sec 'think time'
# delay right before the test loop ends
delay.final.think.time.constant.ms=10000
delay.final.think.time.deviation.ms=30000

# Duration of execution ( generally set the load.loop.count=-1 )
scheduler.duration.seconds=0