/**
 * Licensed to Apereo under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Apereo licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License.  You may obtain a
 * copy of the License at the following location:
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* ==========================================================================
   Variables
   ========================================================================== */
$white: #FFFFFF;
$black: #000000;

/*
 * Grayscale colors. 1 is lightest, 10 is darkest.
 */
$grayscale1:  #F5F5F5;
$grayscale2:  #E5E5E5;
$grayscale3:  #D8D8D8;
$grayscale4:  #CCCCCC;
$grayscale5:  #ADADAD;
$grayscale6:  #999999;
$grayscale7:  #8C8C8C;
$grayscale8:  #696969;
$grayscale9:  #404040;
$grayscale10: #333333;

/*
 * Primary color with 3 lightened shades and 3 darkened shades.
 *
 * The variable color1 is used by the DynamicRespondrSkin portlet.
 * 1) Do not change the variable name.
 * 2) The value must be on the same line as the variable name and be terminated with a semicolon.
 */
$color1: #4065B0; // medium blue
$color1-light: lighten($color1, 10%);
$color1-lighter: lighten($color1, 25%);
$color1-lightest: lighten($color1, 50%);
$color1-dark: darken($color1, 10%);
$color1-darker: darken($color1, 25%);
$color1-darkest: darken($color1, 50%);

/*
 * Secondary color with 3 lightened shades and 3 darkened shades.
 */
$color2: #F68923; // muted orange
$color2-light: lighten($color2, 10%);
$color2-lighter: lighten($color2, 25%);
$color2-lightest: lighten($color2, 50%);
$color2-dark: darken($color2, 10%);
$color2-darker: darken($color2, 25%);
$color2-darkest: darken($color2, 50%);

/*
 * Link color with 1 lighter shade.
 */
$color3: #317ab9; // light muted blue
$color3-light: lighten($color3, 15%);

/*
 * Footer text color with 1 lighter shade.
 */
$color4: #ADADAD; // light gray
$color4-light: lighten($color4, 15%);
$color4-lighter: lighten($color4, 30%);

/*
 * Footer background color.
 */
$color5: #333333; // dark gray

/*
 * Portlet border color.
 */
$color6: #E5E5E5; // lighter gray

$border: 1px solid $grayscale2;

/**
 * Link colors
 */
$portal-link-color: $color3;
$portal-link-hover-color: $color3-light;

/**
 * Region styles
 */
$header-background-color: $color1;
$header-text-color: $white;
$header-link-color: $white;

$footer-background-color: $color5;
$footer-secondary-background-color: lighten($color5, 10%);
$footer-text-color: $color4-light;
$footer-link-color: $color4-lighter;
$footer-link-hover-color: $white;

/**
 * Page-level styles
 */
$body-background-color: $footer-secondary-background-color;

/**
 * Portlet Chrome Settings
 */
$portlet-border-color: $color6;
$portlet-border-radius: 5px;
$portlet-titlebar-link-color: $grayscale10;
$portlet-titlebar-background-color: $grayscale2;
