name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: "${{ matrix.platform }} with Java ${{ matrix.java-distribution }} version 8"
    strategy:
      matrix:
        platform:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        java-distribution:
          - adopt-hotspot
          - temurin
          - zulu
    runs-on: ${{ matrix.platform }}
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: ${{ matrix.java-distribution }}
          java-version: 8
      - name: Build
        run: ./gradlew -i -S build
      - name: Tomcat Install
        run: ./gradlew -i -S tomcatInstall
      - name: Deploy uPortal to Tomcat
        run: ./gradlew -i -S tomcatDeploy
      - name: Start Database
        run: ./gradlew -i -S hsqlStart
      - name: Init Data
        run: ./gradlew -i -S dataInit
      - name: Start Tomcat
        run: ./gradlew -i -S tomcatStart
      - name: Run the end-to-end tests
        run: ./gradlew -i -S playwrightRun
      - name: Stop Database
        run: ./gradlew -i -S hsqlStop
      - name: Stop Tomcat
        run: ./gradlew -i -S tomcatStop
      - name: Clear Logs Tomcat
        run: ./gradlew -i -S tomcatClearLogs
      - name: Generate Skin
        run: ./gradlew -i -S skinGenerate -DskinName=test
